-# this is a generic login form partial.
= form_tag session_create_path do
  = hidden_field_tag 'return_to', @return_to
  .email
    = label_tag 'email'
    = text_field_tag 'email'
  .password
    = label_tag 'password'
    = password_field_tag 'password'
  .submit
    = submit_tag 'Log In'
