= form_for(@user, url: account_path) do |f|
  .section
    %h2 Your Name
    .name-prefix
      = f.label :name_prefix, 'Prefix'
      .hint (Dr., Mrs., optional)
      = f.text_field :name_prefix
    .first-name
      = f.label :first_name
      = f.text_field :first_name
    .last-name
      = f.label :last_name
      = f.text_field :last_name
    .name-suffix
      = f.label :name_suffix, 'Suffix'
      .hint (III, PhD, optional)
      = f.text_field :name_suffix
  .section
    %h2 Your Contact Information
    - if @user.new_record?
    .email
      = f.label :initial_email, 'Email Address'
      .hint (You will log in with this email address.)
      = f.text_field :initial_email, autocomplete: 'off'
    -else
      %h1
        SAM: put in email editing stuff here maybe? I dunno.
      .phone
        %h3 Phone Numbers
        = f.fields_for :phone_numbers do |fe|
          %ul
            - for name, number in @user.phone_numbers
              %li
                = fe.label name
                = fe.text_field name, value: number

  .section
    %h2= @user.new_record? ? 'Your Password' : 'Change Password'
    .hint (At least 7 characters, make it complex and unique.)
    .password
      = f.label :password
      = f.password_field :password, value: '', autocomplete: 'off'
    .password-confirmation
      = f.label :password_confirmation
      .hint (confirm your password)
      = f.password_field :password_confirmation, value: '', autocomplete: 'off'
  .section
    = submit_tag(@user.new_record? ? "Sign Up" : "Edit Account")