%ul#users-list
  - @users.each do |u|
    %li.user{:class => @activation ? 'in-activation' : 'outside-activation' }
      = image_tag(u.avatar.url)
      .text
        .name= link_to u.name, user_path(u)
        .email
          = u.email_addresses[0]
          //= " *" if u.email_addresses.length > 1
        .phone
          = u.phone_numbers.values[0]
          //= ' *' if u.phone_numbers.length > 1
        %ul.orgs!= array_to_li u.organizations
      .lists
        %ul.groups
          %li= pluralize(u.groups.size, t('group.group'))
          != array_to_li u.groups
