- used_letters = []
%ul#users-list
  - prev_letter = ''
  - activation_class = @activation ? 'in-activation' : 'outside-activation'
  - @users.each do |u|
    - letter = u.last_name[0].downcase
    - new_letter = letter != prev_letter
    - new_letter_class = new_letter ? 'new-letter' : ''
    - if new_letter
      - prev_letter = letter
      - used_letters << letter
      %li.drop-cap{id: "drop-cap-#{letter}"}
        .letter
          = letter
        .extra
    %li.user{class: activation_class}
      %img{src: u.avatar.url}
      .text
        .name= u.name
        .email
          = u.email_addresses[0]
          //= " *" if u.email_addresses.length > 1
        .phone
          = u.phone_numbers.values[0]
          //= ' *' if u.phone_numbers.length > 1
        %ul.orgs!= array_to_li u.organizations
      .lists
        %ul.groups
          %li Groups:
          != array_to_li u.groups
.letters-list.top
  %ul
    - ('A'..'Z').each do |letter|
      %li{class: used_letters.include?(letter.downcase) ? '':'disabled'}
        %a{href:"#drop-cap-#{letter.downcase}"}= letter
.letters-list.bot
  %ul
    - ('A'..'Z').each do |letter|
      %li{class: used_letters.include?(letter.downcase) ? '':'disabled'}
        %a{href:"#drop-cap-#{letter.downcase}"}= letter
