#inner-header
  %h2= "All People (#{@users.length})"
#filters
  .simple
    %a{href:'#'} show all updates
    &middot;
    %a{href:'#'} show updates in your groups
    &middot;
    %a{href:'#'} advanced filters&#x25BC;
  %form
    %fieldset#filters-simple
      = text_field_tag :search_query, params[:search_query] ? params[:search_query] : ''
      = render partial: 'shared/multiselect', locals: {name: 'Groups',items:@activation.groups}
      %input{type: 'submit', value: 'Apply Filters'}/
= render 'index'

