<%= form_for(@activation) do |f| %>
  <% if @activation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activation.errors.count, "error") %> prohibited this activation from being saved:</h2>

      <ul>
      <% @activation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
