= form_for @activation do |f|
  - if @activation.errors.any?
    .errors
      %h2= pluralize(@activation.errors.count, t('errors.error'))
      %ul
        - @activation.errors.full_messages.each do |msg|
          %li= msg

  .title
    = f.label :title
    = f.text_field :title
  .description
    = f.label :description
    = f.text_area :description, rows: 5, cols: 30
  - if @activation.persisted?
    .active
      = f.label :active, t('activation.activate')
      %p.description= t('activation.activate_description')
      = f.check_box :active
  .submit
    = f.submit

