%h2= "Showing #{@activations.length} Activations"
%ul
  - @activations.each do |activation|
    %li
      = link_to activation.title, activation  
      = link_to 'Edit', edit_activation_path(activation)
      = link_to 'Delete', activation, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'Add an Activation', new_activation_path

