<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @activation.title %>
</p>

<p>
  <b>Description:</b>
  <%= @activation.description %>
</p>

<p>
  <b>Active:</b>
  <%= @activation.active %>
</p>


<%= link_to 'Edit', edit_activation_path(@activation) %> |
<%= link_to 'Back', activations_path %>
