// locals to pass in: name, items, is_checked
- lc_name = name.downcase
.multiselect{class: "multiselect-#{lc_name}"}
  %h4= name
  %ul
    - vals = params["#{lc_name}_ids".to_sym]
    - vals = vals.map(&:to_i) if vals
    - items.each do |item|
      %li
        = check_box_tag("#{lc_name}_ids[]",item.id,Array(vals).include?(item.id),id:"#{lc_name}_#{item.id}")
        = label_tag("#{lc_name}_#{item.id}",item.name)
