%h1= @section
%p= @section.description

- member = false
%h2 Section Members
%ul.users
  - @section.users.each do |u|
    %li
      = link_to u, users_path(u)
      - if u == @current_user
        - member = true
        = link_to '(leave this section)', leave_activation_section_path(@activation,@section), method: :put
&mdash;
- unless member
  = link_to 'join this section', join_activation_section_path(@activation,@section), method: :put
  &mdash;

= link_to 'edit', edit_activation_section_path(@activation,@section)
&middot;
= link_to 'all sections', activation_sections_path(@activation)

