%h1= @section
%p= @section.description

- member = false
%h2 Section Members
%ul.users
  - @section.users.each do |u|
    %li
      = link_to u, users_path(u)
      - if u == @current_user
        - member = true
        = link_to 'leave this section', activation_section_leave_path(@activation,@section)
&mdash;
- unless member
  = link_to 'join this section', activation_section_join_path(@activation,@section)
  &mdash;

= link_to 'edit', edit_activation_section_path(@activation,@section)
&middot;
= link_to 'all sections', activation_sections_path(@activation)

