= form_for [@activation, @update], html: {multipart: true, id: 'update-form'} do |f|
  - unless @update.errors.empty?
    .errors
      %h2= pluralize(@update.errors.count, 'error')
      %ul
        - @update.errors.full_messages.each do |msg|
          %li= msg

  .title
    = f.label :title
    = f.text_field :title
  .body
    = f.label :body
    = f.text_field :body
  .sections
    %h3= pluralize(@activation.sections.size, t('section.section'))
    %ul
      - if @activation.sections.empty?
        %p= t('activation.sections.none')
      -else
        - @activation.sections.each do |g|
          %li
            = check_box_tag("sections[#{g.id}]",'',@update.sections.include?(g))
            = label_tag("sections[#{g.id}]",g.name)
  .files
    %h3= t('update.attached_files.current')
    %ul
    - for upload in @update.file_uploads
      %li
        #{link_to_attachment(upload)} (#{delete_upload_link(upload.id)})
    %h3= t('update.attached_files.more')
    = f.fields_for :new_file_uploads do |file_uploads|
      %ul#new-uploads
        %li= file_uploads.file_field 'upload[]'
  .submit
    = f.submit

