= form_for [@activation,@update], html: {multipart: true} do |f|
  - if @update.errors.any?
    .errors
      %h2= pluralize(@update.errors.count, 'error')
      %ul
        - @update.errors.full_messages.each do |msg|
          %li= msg

  .title
    = f.label :title
    = f.text_field :title
  .body
    = f.label :body
    = f.text_field :body
  .groups
    %h3 Groups
    %ul
      - @activation.groups.each do |g|
        = check_box_tag("groups[#{g.id}]",'',@update.groups.include?(g))
        = label_tag("groups[#{g.id}]",g.name)
  .files
    = f.fields_for :file_uploads do |fu|
      - if fu.object.new_record?
        = fu.file_field :upload
      - else
        = link_to fu.object.upload.url, fu.object.upload.url
        = fu.check_box :_destroy
  .submit
    = f.submit

