= form_for [@activation, @update], html: {multipart: true, id: 'update-form'} do |f|
  - errors_for @update
  %div
    %h1= "#{@update.persisted? ? 'Editing' : 'Add'} an update to the #{@activation} activation"
  .title
    = f.label :title
    = f.text_field :title
  .body
    = f.label :body
    = f.text_area :body
  .sections
    %h3 Sections
    %ul.checkboxes
      - if @activation.sections.empty?
        %p= t('activation.sections.none')
      -else
        - @activation.sections.each do |s|
          %li
            = check_box_tag "update[section_ids][#{s.id}]", '', @update.sections.include?(s)
            -#= check_box_tag("section_ids[#{g.id}]",'',@update.sections.include?(g))
            = label_tag("update[section_ids][#{s.id}]",s.name)
  .files
    %h3 Attachments
    - 3.times { @update.attachments << Attachment.new }
    = f.fields_for :attachments do |a|
      - if a.object.persisted?
        = a.object
      - else
        = a.file_field :file
  .submit
    = f.submit

