= form_for [@activation, @update], html: {multipart: true, id: 'update-form', class: 'hide'} do |f|
  = errors_for @update
  .title
    = f.text_field :title, placeholder: 'Title'
  .body
    = f.text_area :body, rows: 6, placebolder: 'Body Text'
  .sections.left
    - if @activation.sections.empty?
      %p= t('activation.sections.none')
    -else
      - opts = {multiple: true, class: 'chzn-select', style: 'width: 320px', data: {placeholder: 'Pick Sections'}}
      = f.collection_select :section_ids, @activation.sections, :id, :name, {}, opts
  .left
    %select(multiple class="chzn-select" style="width:320px;margin-left:20px" data-placeholder="Attach Files")
      = f.fields_for :attachments do |a|
        %option{value:a.object.id,selected:true}= a.object.to_s
  .clear
  .submit
    = f.submit(@update.persisted? ? 'Save Changes' : 'Create the Update')

