= form_for [@activation, @update], html: {multipart: true} do |f|
  - unless @update.errors.empty?
    .errors
      %h2= pluralize(@update.errors.count, 'error')
      %ul
        - @update.errors.full_messages.each do |msg|
          %li= msg

  .title
    = f.label :title
    = f.text_field :title
  .body
    = f.label :body
    = f.text_field :body
  .groups
    %h3= pluralize(@activation.groups.size, t('group.group'))
    %ul
      - if @activation.groups.empty?
        %p= t('activation.groups.none')
      -else
        - @activation.groups.each do |g|
          %li
            = check_box_tag("groups[#{g.id}]",'',@update.groups.include?(g))
            = label_tag("groups[#{g.id}]",g.name)
  .files
    %h3= t('update.attached_files.current')
    %ul
    - for upload in @update.file_uploads
      %li
        #{link_to_attachment(upload)} (#{delete_upload_link(upload.id)})
    %h3= t('update.attached_files.more')
    %ul#new-uploads
      %li= f.file_field :upload
    
  .submit
    = f.submit

