= form_for [@activation, @update], html: {multipart: true, id: 'update-form'} do |f|
  - unless @update.errors.empty?
    .errors
      %h2= pluralize(@update.errors.count, 'error')
      %ul
        - @update.errors.full_messages.each do |msg|
          %li= msg

  .title
    = f.label :title
    = f.text_field :title
  .body
    = f.label :body
    = f.text_field :body
  .sections
    %h3= pluralize(@activation.sections.size, t('section.section'))
    %ul
      - if @activation.sections.empty?
        %p= t('activation.sections.none')
      -else
        - @activation.sections.each do |g|
          %li
            = check_box_tag("sections[#{g.id}]",'',@update.sections.include?(g))
            = label_tag("sections[#{g.id}]",g.name)
  .files
    -#
      - if @update.attachments.count > 0
        %h3= t('update.attached_files.current')
        %ul
        - @update.attachments.each do |attachment|
          %li
            #{attachment_url attachment}
        %h3= t('update.attached_files.more')
        %ul#new-uploads
          %li= file_field_tag "update[new_attachments][]"
          %li= file_field_tag "update[new_attachments][]"
          %li= file_field_tag "update[new_attachments][]"
      - else
    %h3= t('update.attached_files.new')
    - 3.times { @update.attachments << Attachment.new }
    = f.fields_for :attachments do |a|
      - if a.object.persisted?
        = a.object
      - else
        = a.file_field :file
  .submit
    = f.submit

