.update-when
  .update-time= @update.created_at.to_s(:time)
  .update-author= link_to @update.author.full_name, user_url(@update.author)
  .update-date= @update.created_at.to_s(:mdy)
.update-main
  - url = activation_update_url(@activation,@update)
  %h2.update-title= link_to_unless current_page?(url), @update.title, url
  .update-text= current_page?(url) ? @update.body : truncate(@update.body, length: 350)
  .update-files
    %ul
      - @update.attachments.each do |attachment|
        %li.file= link_to attachment, attachment_url(attachment)
  .update-comments
    %ul
      - for comment in @update.comments
        %li
          = render comment
    .new-comment
      = render partial: 'comments/form', locals: { update: @update }
  - if show_sections
    .sections
      %h3 Sections
      %ul
        - @update.sections.each do |s|
          %li= link_to s
