.update-when
  .update-time= update.created_at.to_s(:time)
  .update-date= update.created_at.to_s(:mdy)
.update-main
  .update-title= link_to update.title, activation_update_url(@activation,update)
  .update-author
    Posted by
    = link_to update.author.full_name, user_url(update.author)
  .update-text= update.body
  .update-files
    %ul
      - update.file_uploads.each do |attachment|
        %li.file= link_to attachment.upload_file_name,'#'
  .update-comments
    %h3 Comments:
    %ul
      - update.comments.each do |comment|
        %li.comment
          .comment-heading
            = link_to comment.author.full_name, user_url(comment.author)
            = "at #{comment.created_at}"
          .comment-body= comment.body
          = link_to 'x', [@activation,update,comment], method: :delete, confirm: 'Really delete comment?', class: 'comment-delete'
    .new-comment
      = form_for [update.activation,update,Comment.new] do |cf|
        = cf.text_field :body, class: 'comment-input'
        = cf.submit 'Add Comment', class: 'comment-submit'
