.update-title-bar
  - url = activation_update_url(@activation, update)
  %h2.update-title= link_to_unless current_page?(url), update.title, url
  .update-meta
    %span.update-author= link_to update.author.full_name, user_url(update.author)
    &middot;
    %span.update-time= update.created_at.strftime('%l:%M%P %Z, %-e %b %y')
  .clear
.update-text
  - if current_page? url
    = simple_format update.body
  - else
    = simple_format trunc(update.body, length: 350)
.update-files
  %ul
    - update.attachments.each do |attachment|
      %li.file= link_to attachment, attachment_url(attachment)
.update-comments
  %ul
    - for comment in update.comments
      %li= render comment
  .new-comment
    -# = render partial: 'comments/form', locals: { update: update }
- if show_sections
  .sections
    %h3 Sections
    %ul
      - for s in update.sections
        %li= link_to s
