.update-when
  .update-time= update.created_at.to_s(:time)
  .update-date= update.created_at.to_s(:mdy)
.update-main
  - url = activation_update_url(@activation,update)
  %h2.update-title= link_to_unless current_page?(url), update.title, url
  .update-author
    Posted by
    = link_to update.author.full_name, user_url(update.author)
  .update-text= update.body
  .update-files
    %ul
      - update.file_uploads.each do |attachment|
        %li.file= link_to attachment.upload_file_name,'#'
  .update-comments
    %h3 Comments:
    %ul
      - for comment in update.comments
        %li
          = render comment
    .new-comment
      = form_for [update.activation,update,Comment.new], remote: true, html: {:id => "new-comment-#{update.id}", :'data-type' => 'html'} do |cf|
        = cf.text_field :body, class: 'comment-input'
        = cf.submit 'Add Comment', class: 'comment-submit'
