#inner-header
  %h2= "All Updates (#{@updates.length})"
#filters
  .simple
    %a{href:'#'} show all updates
    &middot;
    %a{href:'#'} show updates in your groups
    &middot;
    %a{href:'#'} advanced filters&#x25BC;
  %form
    %fieldset#filters-simple
      = text_field_tag :search_query, params[:search_query] ? params[:search_query] : 'Search'
      = render partial: 'shared/multiselect', locals: {name: 'Groups',items:@activation.groups}
      %input{type: 'submit', value: 'Apply Filters'}/
#updates
  %ul
    - current_date = Time.now
    - @updates.each do |update|
      - if update.created_at.day != current_date.day
        - current_date = update.created_at
        %li.day{id: "#{current_date.to_s(:mdy).gsub('/','-')}"}
      %li.update{:class => @current_user == update.author ? 'yours' : ''}
        = render partial: 'update', locals: {update: update}
