#filters
  %form
    %fieldset#filters-simple
      %input{type: 'text', value: 'Search'}/
      = render partial: 'multiselect', locals: {name: 'Groups',items:@activation.groups}
      = render partial: 'multiselect', locals: {name: 'Organizations',items:@activation.organizations}
      %input{type: 'submit', value: 'Apply Filters'}/
#updates-header
  %h2= "Showing all #{@updates.length} updates"
#updates
  %ul
    - @updates.each do |update|
      %li.update{:class => @current_user == update.author ? 'yours' : ''}
        = render partial: 'update', locals: {update: update}
