#filters
  %form
    %fieldset#filters-simple
      = text_field_tag :search_query, params[:search_query] ? params[:search_query] : 'Search'
      = render partial: 'shared/multiselect', locals: {name: 'Groups',items:@activation.groups}
      %input{type: 'submit', value: 'Apply Filters'}/
#updates-header
  %h2= "Showing all #{@updates.length} updates"
#updates
  %ul
    - @updates.each do |update|
      %li.update{:class => @current_user == update.author ? 'yours' : ''}
        = render partial: 'update', locals: {update: update}
