.wrapper
  - if @current_user
    -# these are spans rather than a list because they're easiest to
    -# style with 'display: inline-block', and IE7 only likes inline
    -# block styling on elements that are inline by default.
    #nav
      - overview = current_scope?(controller: 'activations', action: 'overview')
      - in_activation = !overview && current_scope?({controller: 'activations'}, {controller: 'updates'})
      %span{class: active(overview)}= link_to 'Overview', '/'
      %span{class: active(in_activation) }= link_to 'Activations', activations_path
      %span{class: active(controller: 'users')}= link_to 'People', users_path
      %span{class: active(controller: 'organiations')}= link_to 'Organizations', organizations_path
    #account
      %span
        Logged in as
        = link_to @current_user.first_name, edit_account_url
      %span= link_to('Log Out', logout_url, method: :delete)
  - else
    #nav
      %span= link_to 'Log In', login_url
      %span= link_to 'Register', new_account_url

