.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - if current_user
        %ul.nav
          - overview = current_scope?(controller: 'activations', action: 'overview')
          - in_activation = !overview && current_scope?({controller: 'activations'}, {controller: 'updates'})
          %li.active= link_to 'Overview', overview_path
          %li= link_to 'Activations', activations_path
          %li= link_to 'People', users_path
          %li= link_to 'Organizations', organizations_path

        %ul.nav.pull-right
          %li
            %a{href: edit_account_url}
              %i.icon-user.icon-white
              = @current_user.first_name
          %li.divider-vertical
          %li= link_to 'Log out', logout_url

      - else
        %ul.nav.pull-right
          %li= link_to 'Log In', login_url
          %li= link_to 'Register', new_account_url
