#panel
  %a.close-button{href:'#'} close
  #invite.panel
    %h1 Invite People
    %form#invite-search
      %input{type: 'text', placeholder: 'search'}
    %form#invite-form
      = submit_tag 'Invite'
      %ul.users.unstyled
        - Array(@invitees).each do |u|
          - search_text = "#{u.name} #{u.primary_email_address}"
          %li.invitee{'data-search-text' => search_text}
            = check_box_tag "invitees[users][#{u.id}]"
            %label{for: "invitees_users_#{u.id}"} 
              .name= u.full_name
              .email= u.primary_email_address
            
      .clear

