= content_for :javascripts do
  = javascript_include_tag :activation_page

= content_for :header do
  .navbar.navbar-fixed-top
    = link_to 'Overview', '/', class: 'brand'
    .navbar-inner
      .container
        %ul.nav
          %li.activation.dropdown
            %a.dropdown-toggle{:'data-toggle' => 'dropdown'}
              = @activation.title
              %b.caret 
            %ul.dropdown-menu
              - @activations.each do |activation|
                %li= link_to activation.title, activations_url(activation)
              %li= link_to "All activations", overview_url
          %li= link_to 'Manage', @activation
          %li= link_to 'Invite People', @activation, class: 'invite-link', data: {'target-class' => 'Activation', 'target-id' => @activation.id}
          %li= link_to 'Search', @activation
          %li= link_to 'Post Update', @activation, class: 'update'

        %ul.nav.pull-right
          %li
            %a{href: edit_account_path}
              = @current_user.first_name
          %li= link_to 'Log out', logout_url

= content_for :sidebar do

  #notifications
    -#= link_to '4 Notifications', '#'
    %ul.unstyled
      %li.unread
        .activation= link_to 'Critical Ibuprofen Shortage', '#'
        .event 1 new update
      %li.unread
        .activation= link_to 'Raining Cats and Dogs', '#'
        .event 3 new comments
      %li
        .activation= link_to '3 Other Activations', activations_url
        .event all calm

= content_for :content do
  = render partial: 'layouts/panel', locals: {invitees: @invitees}
  = render 'form'
  = yield

= render file: 'layouts/application'
