= content_for :javascripts do
  = javascript_include_tag :activation_page

= content_for :header do  
  %ul#main-nav
    %li#overview= link_to 'Overview', overview_url
    %li#current-activation= link_to @activation.title, @activation
    %li
      %ul#submenu
        %li= link_to 'manage', '#'
        %li= link_to 'invite', @activation, class: 'invite-link', data: {'target-class' => 'Activation', 'target-id' => @activation.id}
        %li= link_to 'post update', '#', class: 'toggle-update-form'

  #account-controls
    logged in as
    = link_to @current_user.full_name, edit_account_path
    \/
    = link_to 'log out', logout_url, method: 'delete'

= content_for :sidebar do

  #notifications
    -#= link_to '4 Notifications', '#'
    %ul.unstyled
      %li.unread
        .activation= link_to 'Critical Ibuprofen Shortage', '#'
        .event 1 new update
      %li.unread
        .activation= link_to 'Raining Cats and Dogs', '#'
        .event 3 new comments
      %li
        .activation= link_to '3 Other Activations', activations_url
        .event all calm

= content_for :content do
  = render partial: 'layouts/panel', locals: {invitees: @invitees}
  = render 'form'
  = yield

= render file: 'layouts/application'
