= content_for :javascripts do
  = javascript_include_tag :activation_page

= content_for :header do
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %ul.nav
          %li= link_to 'Overview', '/', class: 'brand'
          %li.dropdown
            %a.dropdown-toggle{:'data-toggle' => 'dropdown'}
              = @activation.title
              %b.caret 
            %ul.dropdown-menu
              %li= link_to 'something'
              %li= link_to 'something else'
          %li= link_to 'Manage'
          %li= link_to 'Invite People', class: 'invite-link', data: {'target-class' => 'Activation', 'target-id' => @activation.id}
          %li= link_to 'Search'
          %li= link_to 'Post Update', class: 'btn'

        %ul.nav.pull-right
          %li
            %a{href: edit_account_path}
              %i.icon-user.icon-white
              = @current_user.first_name
          %li.divider-vertical
          %li= link_to 'Log out', logout_url

= content_for :sidebar do

  #account-controls
    = link_to 'My Account', edit_account_path
    &middot;
    = link_to_log_out
  #notifications
    -#= link_to '4 Notifications', '#'
    %ul
      %li.unread
        .activation= link_to 'Critical Ibuprofen Shortage', '#'
        .event 1 new update
      %li.unread
        .activation= link_to 'Raining Cats and Dogs', '#'
        .event 3 new comments
      %li
        .activation= link_to '3 Other Activations', activations_url
        .event all calm

= content_for :content do
  = render partial: 'layouts/panel', locals: {invitees: @invitees}
  = yield

= render file: 'layouts/application'
