= content_for :javascripts do
  = javascript_include_tag :activation_page

= content_for :header do
  .slab#slab-1
    =link_to 'All Activations', activations_url
    %a#alerts-count.active{href:'#'} 3
  .slab#slab-2
    #activation-select= @activation.title    
  .slab#slab-3
    = link_to image_tag('icons/is_people_16w.png', size: '15x15'), '#'
    &middot;
    %span.small
      Showing updates from
    = link_to 'Your Sections', '#'
    &middot;
    = link_to 'Add Update', '#', id: 'add-update'
    #new-update-form
      = render 'form'
      = link_to 'Close', '#', class: 'close-popups'
  .slab#user-slab
    logged in as
    %a{href:'#'}= @current_user.full_name
    &middot;
    %a{href:'#'} log out


= content_for :sidebar do
  showing updates from:
  %ul
    %li My Sections
    %li All Sections


= content_for :content do
  = render partial: 'layouts/panel', locals: {invitees: @invitees}
  = yield

= render file: 'layouts/application'
