= content_for :javascripts do
  = javascript_include_tag :activation_page

= content_for :header do
  #overview
    = link_to 'Overview', '/'
  #current-activation
    %a{href: url_for(@activation)}
      = @activation.title
      &#x25BC;
  %ul#submenu
    %li
      = link_to 'manage', '#'
    %li
      = link_to 'invite people', '#'
    %li= link_to 'search', '#'  
    %li#new-update-form
      = link_to 'post update', '#'
      = render 'form'
      
  / #account-controls
  /   logged in as
  /   %a{href:'#'}= @current_user.full_name
  /   &middot;
  /   %a{href:'#'} log out


= content_for :sidebar do
  #account-controls
    = link_to 'My Account', edit_account_path
    &middot;
    = link_to_log_out
  #notifications
    = link_to '3 Notifications', '#'


= content_for :content do
  = render partial: 'layouts/panel', locals: {invitees: @invitees}
  = yield

= render file: 'layouts/application'
