= content_for :javascripts do
  = javascript_include_tag :activation_page

= content_for :header do
  #overview
    = link_to 'Overview', '/'
  #current-activation
    %a{href: url_for(@activation)}
      = @activation.title
      &#x25BC;
  %ul#submenu
    %li
      = link_to 'manage', '#'
    %li
      = link_to 'invite people', '#', class: 'invite-link', data: {'target-class' => 'Activation', 'target-id' => @activation.id}
    %li
      = link_to 'post update', '#', class: 'toggle-update-form'
      
  / #account-controls
  /   logged in as
  /   %a{href:'#'}= @current_user.full_name
  /   &middot;
  /   %a{href:'#'} log out


= content_for :sidebar do
  #account-controls
    = link_to 'My Account', edit_account_path
    &middot;
    = link_to_log_out
  #notifications
    -#= link_to '4 Notifications', '#'
    %ul
      %li.unread
        .activation= link_to 'Critical Ibuprofen Shortage', '#'
        .event 1 new update
      %li.unread
        .activation= link_to 'Raining Cats and Dogs', '#'
        .event 3 new comments
      %li
        .activation= link_to '3 Other Activations', activations_url
        .event all calm

= content_for :content do
  = render partial: 'layouts/panel', locals: {invitees: @invitees}
  = render 'form'
  = yield

= render file: 'layouts/application'
