= content_for :javascripts do
  = javascript_include_tag :activation_page

= content_for :header do
  %a#alerts-count.active{href:'#'} 3
  #filters
    %select#activation-select
      %option= @activation.title
    &#9656;
    %select.filter
      %option My Sections
  = link_to 'Add Update', new_activation_update_path(@activation), id: 'add-update'


= content_for :sidebar do
  %h2#updates-link= link_to 'Updates', activation_updates_url(@activation), :class => 'updates'
  &mdash;

  %ul
    %li#invite-link
      %a{href:'#'} Invite People
    %li#sections-link= link_to 'Sections', activation_sections_url(@activation)
    %li#email-settings
      %select
        %option Email alerts on
        %option Email alerts off
  &mdash;

  #organization-link
    %a{href:'#'} Organizations

  #account
    %h3= "logged in as #{@current_user}"
    %a{href:'#'} account settings
    &middot;
    %a{href:'#'} log out


= content_for :content do
  = render partial: 'layouts/panel', locals: {invitees: @invitees}
  = yield

= render file: 'layouts/application'
