!!!
%html
  %head
    %title= content_for?(:title) ? (yield :title) : t('layout.title.default')
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = javascript_include_tag :application
    = yield :javascripts
    = stylesheet_link_tag controller_name
    = javascript_include_tag controller_name
    = csrf_meta_tag
  %body
    #header
      = yield_if_content_for(:header) or render 'layouts/header'
    #sidebar
      = yield_if_content_for(:sidebar) or ''
    #body
      - unless flash.empty?
        #flash
          - flash.each do |k, v|
            %div{id: "flash-#{k}"}= v
      = yield_if_content_for(:content) or yield
    #footer 
      = link_to 'Help / Support', '#'
      &middot;
      &copy; 2012 Decisive Duck
    #shield.close-popups

