!!!
%html
  %head
    %title= content_for?(:title) ? (yield :title) : t('layout.title.default')
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = javascript_include_tag :application
    = stylesheet_link_tag controller_name
    = javascript_include_tag controller_name
    = csrf_meta_tag
  %body
    #header
      = yield :header
    #sidebar
      = yield :sidebar
    #body
      = content_for?(:content) ? (yield :content) : yield
    -#footer &copy; 2012 Decisive Duck

